.rating-box-container {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 0.75em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);    
}

.rating-stars {
    display: flex;
    gap: 0.5em;
}

.rating-category {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

@media (min-width: 768px) {
    .rating-box-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 25em;
        gap: 2em;
        padding: 1.25em 2em;
    }
}